#root {
    padding: 2rem;
}

.container {
    display: flex;
    gap: 10px;
}

.form {
    border: 2px solid rgb(134, 132, 132);
    border-radius: 5px;
    background-color: rgba(51, 65, 85, 255);
}

.preview {
    border: 2px solid rgb(134, 132, 132);
    border-radius: 5px;
}

input {
    border: none;
    border-radius: 5px;
    background-color: rgba(55, 65, 81, 255);
    margin-bottom: 15px;
    width: 90%;
}

button {
    background-color: rgba(31, 41, 55, 255);
    margin: 2px;
}

.navigation {
    margin-right: 60%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ---------- Profile Container -------------- */
.profileContainer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile {
    width: 40%;
}

.sectionHeading {
    font-weight: 400px;
    font-size: 22px;
}

.sectionDesc {
    font-weight: 300;
    font-size: 18px;
    color: rgba(156, 163, 175, 255);
}

.label {
    color: rgba(55, 65, 81, 255);
}

.profileInputs {
    background-color: rgba(100, 116, 139, 255);
    font-weight: 300;
    font-size: 18px;
    display: block;
    flex-wrap: wrap;
    padding: 15px;
    margin: 5px;
    width: 50%;
}

/* @media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .profile,
    .profileInputs {
        width: 100%;
    }
} */
