#root {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
input {
    height: 25px;
}

.conainer {
    /* display: flex is already defined in index.css under body*/
    justify-content: center;
    gap: 20px;
}

.heading {
    font-size: xx-large;
}

.info {
    display: flex;
    justify-content: space-between;
}

.newInvoiceModal {
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.addressDiv {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.address {
    width: 33%;
}

.dates {
    display: flex;
    justify-content: space-between;
}

.date,
.dateValidity {
    width: 45%;
}
