#root {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.conainer {
    /* display: flex is already defined in index.css under body*/
    justify-content: center;
    gap: 20px;
}

.heading {
    font-size: xx-large;
}

.info {
    display: flex;
    justify-content: space-between;
}

.newInvoiceModal {
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    max-width: 700px;
    min-width: 400px;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

    max-height: 80vh; /* Set maximum height to 80% of viewport height */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}

.newInvoiceModal input {
    height: 1.5rem;
}

.invoice-input {
    height: 1.5rem;
}

.addressDiv {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.address {
    width: 33%;
}

.dates {
    display: flex;
    justify-content: space-between;
}

.date,
.dateValidity {
    width: 45%;
}
