/* ----- MAIN ----- */

body {
    min-width: 1000px;
}
.container {
    display: inline;
    justify-content: center;
}

.header {
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    height: 100px;
    margin: 10px;
}
.mainBody {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chart {
    height: 500px;
    min-width: 500px;
    width: 100%;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    padding-top: 10px;
}

.rightSideBar {
    height: 600px;
    width: 450px;
    float: right;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 10px;
}

.leftSideBar {
    height: 400px;
    width: 250px;
    float: left;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    margin-left: 10px;
    padding-top: 10px;
}

/* ------- Add Expense Modal -------*/

input {
    padding: 5px;
    margin-left: 15px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: rgb(40, 39, 39);
    margin-bottom: 5px;
}

.expenseModal {
    display: inline-block;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(49, 48, 48);
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
}

.inputDetials {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btnAddExpense {
    margin: auto;
    display: block;
}

.closeSpan {
    display: flex;
    justify-content: right;
}

.closeImg {
    height: 20px;
    margin: 10px;
}

/* ---- Expense List ----*/

.div_expense {
    background-color: rgb(49, 48, 48);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    display: block;
}
.category {
    font-weight: 500;
    float: left;
}

.price {
    float: right;
}

.date {
    margin-top: 10%;
    margin-left: 5px;
    font-size: small;
    font-weight: 100;
    font-style: oblique;
}

.controls {
    display: flex;
    justify-content: flex-end;
}
.image {
    width: 20px;
    height: 20px;
    margin: 10px;
}

/* --------------------------------------------- */
.listItem {
    line-height: 40px;
}

.btnEdit {
    float: right;
}

.btnDelete {
    float: right;
}

.spanItemCategory {
    margin-left: 20px;
    text-align: left;
    float: inline-start;
}
.spanItemPrice {
    margin-left: 5px;
    float: inline-start;
}
.spanItemDate {
    margin-left: 20px;
    text-align: right;
    float: inline-start;
}
